// GLOBAL
$margin-typography-element: 1.5em;
$transition: .2s;

// COLOR
$theme-color: #39b5de;
$color-smoke: #eee;
$color-shadow: #ccc;
$color-light: #999;
$color-text: #222;

// FONT
$fonts-size: 16px;
$fonts-size--desktop: 18px;
$fonts-size--cinema: 20px;
$font-title-text: "Roboto+Condensed:700"; // 300, 400, 700
$font-sans-text: "Roboto:300,400,500"; // 100, 300, 400, 500, 700, 900
$font-serif-text: "PT+Serif:400,400italic,700,700italic"; // 400, 700
$font-mono-text: "Roboto+Mono:400,700"; // 100, 300, 400, 500, 700
$font-url: "https://fonts.googleapis.com/css?family=" + $font-title-text + "|" + $font-sans-text +"|" + $font-serif-text + "|" + $font-mono-text + "&subset=latin,latin-ext";

// SKELETON
$offset-padding: 15px;
$container-width: 700px;
$container-width-p: $container-width + $offset-padding * 2;
$container-width--outer: 980px;
$container-width--outer-p: $container-width--outer + $offset-padding * 2;
$container-outer-width: ($container-width--outer - $container-width) / 2;
