// IMPORTANT //////////////

.important {

  blockquote {
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    line-height: 1.4;

    @include device {
      font-size: 30px;
    }

    .width--outer & {
      @include device {
        text-align: center;
      }
    }
  }

  figcaption {
    text-align: left;

    @include device {
      margin-top: 15px;
      text-align: center;
    }

    &:before {
      content: "—";
    }
  }

}
