// FLOAT //////////////

.float {

  @include device {
    float: left;
    top: 9px;
    margin-right: 30px;
    margin-bottom: 20px;
    max-width: 50%;
  }

  &--outer {
    @include device("cinema") {
      max-width: 70%;
      margin-left: -$container-outer-width;
    }
  }

  &--right {
    @include device {
      float: right;
      margin-left: 30px;
    }
  }

  &--right.float--outer {
    @include device("cinema") {
      margin-right: -$container-outer-width;
    }
  }

}
